@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    background-color: rgb(47, 46, 48);
}

.logo-image{
    height: 80px;
    width: auto;
}

ul {
    display: flex;
    gap: 30px;
}

li, a {
    text-decoration: none;
    font-style: italic;
    list-style: none;
    color: red;
    font-family: 'Teko';
    font-size: 24px;
}

a:hover {
    text-decoration: underline;
}

.hero-image {
    height: 240px;
    width: auto;
    display: flex;
}

.hero-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    padding-top: 35px;
}

h1{
    font-size: 48px;
    font-family: monospace;
}

p{
    font-size: 21px;
    font-family: 'Teko';
}

button{
    color: red;
    padding: 5px 20px;
    justify-content: flex-end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(47, 46, 48);
    border-color: rgb(47, 46, 48);
    border-radius: 5%;
}

.information-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 0 400px;
}

.info-image{
    height: 120px;
    width: auto;
    border: 5px solid rgb(98, 51, 51); 
}

.info-header {
    padding: 60px 10px 40px 10px;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    font-family: monospace;
}

.info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text {
    font-size: 32px;
    text-align: center;
    margin-top: 15px;
}