@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    background-color: rgb(47, 46, 48);
}

.logo-image{
    height: 80px;
    width: auto;
}

ul {
    display: flex;
    gap: 30px;
}

li, a {
    text-decoration: none;
    font-style: italic;
    list-style: none;
    color: red;
    font-family: 'Teko';
    font-size: 24px;
}

a:hover {
    text-decoration: underline;
}

.hero-image {
    height: 240px;
    width: auto;
    display: flex;
}

.hero-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    padding-top: 35px;
}

h1{
    font-size: 48px;
}

p{
    font-size: 21px;
    font-family: 'Teko';
}

button{
    color: red;
    padding: 5px 20px;
    justify-content: flex-end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: rgb(47, 46, 48);
    border-color: rgb(47, 46, 48);
    border-radius: 5%;
}
